body {
    font-family: sans-serif;
    font-size: 24px;
    background-color: #032459;
    color: white;
    background-image: url(http://www.psdgraphics.com/file/stars.jpg);
}

a {
    color: lightblue;
    text-decoration: underline;
}

.blink {
    visibility: hidden;
}

pre {
    text-align: left;
}

.step {
    width: 900px;
    padding: 40px;
    margin: 20px auto;
    text-align: center;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.step.light-bg {
    background-color: white;
    color: black;
    border-radius: 20px;
}

small {
    opacity: 0.5;
}

.slide {
    border-left: 1px solid lightgray;
}

.left {
    text-align: left;
}

.welcome {
    margin-bottom: 50px;
}

.past, .future {
    opacity: 0.3;
}

#questions {
    width: 600px;
    font-size: 2em;
}

.big {
    font-size: 3em;
}

.medium {
    font-size: 1.5em;
}

.hype-img {
    width: 250px;
    height: auto;
}

blockquote {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/1/1c/Quotation_Marks.svg);
    background-size: cover;
    height: 500px;
    font-size: 1.5em;
}

blockquote .contents {
    padding-top: 160px;
    font-family: monospace;
}

ol li {
    margin-bottom: 20px;
}

img.llamas {
    height: 200px;
    width: auto;
    display: inline-block;
    margin-bottom: -90px;
}

.operand {
    background-color: white;
    border-radius: 10px;
    color: black;
    padding-top: 90px;
    padding-bottom: 90px;
    width: 200px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
}
span.operand.css {
    font-size: 12px;
    padding-top: 70px;
}

#overview {
    display: none;
}

.impress-on-overview .step {
    opacity: 1;
}

.impress-enabled .fallback-message {
    display: none;
    background-color: white;
    color: black;
}
